.card{
    width: 600px;
    padding: 50px;
    background-color: var(--bg-200);
}

.card .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: var(--primary-100);
    color: #fff;
    padding: 5px 20px;
    border-radius: 20px;
}